<tr>
    <td width="10%">
        <a class="btn-white"></a>
        <a href="~language_prefix~/~pagename~/templates/download/~template~"
           title="*Save to your data storage*" class="btn-white"><i class="fa fa-download"></i></a>
    </td>
    <td width="30%" class="text-left">~name~</a></td>
    <td width="20%" class="text-left"><a href="mailto:~author~" target="_blank">~author~</a></td>
    <td width="10%" class="text-left">~version~</td>
    <td width="15%" class="text-left">~date~</td>
    <td width="15%" class="text-left"></td>
</tr>