<div class="w33 md-w50 sm-w100">
    <div class="shop-item ">
        <div class="w50">
            <img src="~cover~">
        </div><!--
     --><div class="w50">
            <h2>~title~</h2>
            <p class="description" title="~description~">~description~</p>
            <p>*Author*: <a href="mailto:~author~">~author~</a></p>
            <p>
                *Version*: ~version~<br>
                *Design date*: ~date~
            </p>
            <a href="~archive_link~" class="btn">~price~</a>
        </div>
    </div>
</div>